{% extends 'concert/base.html' %}
{% load staticfiles %}

{% block title_block %}

Booking Page
{% endblock %}

{% block body_block %}
{% if concert %}
<div>
    <p>Concert ID : {{ concert.concertId }}</p>
    <p>Name : {{ concert.concertName }}</p>
    <p>BandId : {{ concert.bandId }}</p>
    <p>Location : {{ concert.location }}</p>
    <p>Date : {{ concert.date }}</p>
    <p>Ticket ID : {{ concert.tickets }}</p>
</div>

<strong>Is it correct?</strong>
<form id="booking" method="post" action="/booking/{{concert.concertId}}/"enctype="multipart/form-data">
{% csrf_token %}
<input type="submit" name="Yes" Value="Yes">
<input type="submit" name="No" Value="No">
</form>

{% endif %}
{% endblock %}