{% extends 'concert/base.html' %}
{% block title_block %}
Cancel Booking conformation
{% endblock %}

{% block style_block %}
    .center{
	width:50%;
	margin-left:40%;	
	align: left;	
	}
{% endblock %}

{% block body_block %}
<div class="center">
<strong>Are you sure to cancel booking? </strong>
{% if ticket %}
        <p>Ticket Id : {{ ticket.ticketId }}</p>    
{% endif %}

{% if concert and concert.band %}
    <p>Concert Id : {{concert.concertId}}</p>
    <p>Concert Name : {{concert.concertName}}</p>
    <p>Band Name : {{concert.band.bandName}}</p>
    <p>Concert Date : {{concert.date}}</p>
    <p>Location : {{concert.location}}</p>
{% endif %}

<form id="CancelBooking" method="post" action="/cancelBooking/{{ concert.concertId }}/"enctype="multipart/form-data">
    {% csrf_token %}
    <input type="submit" name="Yes" Value="Yes">
    <input type="submit" name="No" Value="No">
</form>
</div>
{% endblock %}