{% extends 'concert/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register new concert
{% endblock %}

{%block body_block%}
{% if concertAdded %}
<strong>Concert successfully added<br /></strong>
<a href="{% url 'concert:index' %}">Return to home</a><br />
{% else %}
    <form id="concertAdd" method="post" action={% url 'concert:concertAdd'%} enctype="multipart/form-data">
        <p>Concert Image : {{concertForm.img}} <br/>
        * If you don't add an image, default images will be used.</p>
        
        <p>Concert Name : {{concertForm.concertName}}</p>
        <p>Location : {{concertForm.location}}</p>    
    
        <p>Date : {{ concertForm.date }}</p>
        
        {% csrf_token %}
        <input type="submit" Value="Register Concert" name="concertAdd">
    </form>
{% endif %}

{%endblock%}