{% extends 'concert/base.html' %}

{% block title_block %}
This is the page for developers
{% endblock %}

        
{% block body_block %}

<form id="addConcert" method="post" action="{% url 'concert:dev'%}"
enctype="multipart/form-data">
 {% csrf_token %}
{{ concertForm.as_p }}
<!-- {{ testForm.as_p }} -->

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


<input type="submit" name="AddConcert">
</form>

{% endblock %}