{% extends 'concert/base.html' %}
{% load staticfiles %}

{% block title_block %}
This is the page for developers
{% endblock %}

        
{% block body_block %}
<div>Random Generation for the DataBase</div><br/>


<form id="addConcert" method="post" action="/dev/addConcert/"enctype="multipart/form-data">
 {% csrf_token %}
<input type="submit" Value="AddConcert">
</form>
<br/>

<form id="addConcert" method="post" action="/dev/addTicket/"enctype="multipart/form-data">
 {% csrf_token %}
<input type="submit" Value="AddTicket">
</form>

{% endblock %}