{% extends 'concert/base.html' %}


{% block body_block %}
<table>

<tr class="title">
    <th>Upcoming Concerts : {{concertList.count}} </th><th></th>
</tr>
{% for concert in concertList %}
<tr>
<th>
    Concert : {{ concert.concertName }}<br/>
    BandId : {{ concert.bandId }}<br/>
    Location : {{ concert.location }}<br/>
    Date : {{ concert.date }}<br/>
    Ticket : {{ concert.tickets }}<br/>
</th>
<th>
<a href="concert/{{concert.concertId}}/">View Concert</a>
</th>
</tr>
{% endfor %}
</table>
{% endblock %}