{% extends 'concert/base.html' %}
{% block style_block %}
    .center{
	width:60%;
	margin-left:20%;	
	align: left;
	
	}
{% endblock %}
{% block title_block %}
Welcome to the concert project
{% endblock %}


{% block top2_block %}{% endblock %}


{% block top3_block %}
First Name : {{user.first_name}}<br/>
Last Name  : {{user.last_name}}<br/>
Email      : {{user.username}}
{% endblock %}

{% block top4_block %}
{% endblock %}

{% block top5_block %}{% endblock %}

{% block body_block %}
<div class="center">
<table>
    <tr class="title">
        <th>Your Ticket :</th><th></th>
    </tr>
{% for ticket in tickets %}
    <tr>
        <th>            
            TicketId  :{{ticket.ticketId}}<br/>
            ConcertId :{{ticket.concertId}}<br/>
            {% for key, value in concerts.items %} 
                {% if key == ticket.concertId and value %}
                      Concert Name : {{value.concertName}}<br/>
                      Band Name : {{value.band.bandName}}
                {% endif %}
            {% endfor %}
        </th>
        <th>
            <a href="/concert/{{ticket.concertId}}/" class="vc">View Concert</a>&ensp;
            <a href="/cancelBooking/{{ticket.concertId}}/" class="vc">Cancel</a>
        </th>
    </tr>
{% endfor %}
</table>
<a href={% url 'concert:deleteAccount' %}>Delete my account</a>
</div>
{% endblock %}