{% extends 'concert/base.html' %}

{% block title_block %}
This is the register Page <br />
{% endblock %}

{% block javascript %}<!-- Adding embedding java script to the head -->
<script src="{{STATIC_URL}}/static/jquery/jquery.min.js"></script> <!-- loading Jquery only when it is needed-->
<script>
    $(document).ready(function()
    {
  		var popup1 = document.getElementById("popup-1")
  		var openPopup1 = document.getElementById("open-popup-1")
  		var closePopup1 = document.getElementById('close-popup-1')		
  		openPopup1.addEventListener('click', () => {
  			popup1.style.display = "block";
  			})
  			
  		closePopup1.addEventListener('click', () => {
  			popup1.style.display = "none";
  			})
    });
</script>
{% endblock %}

{% block style_block %}

	
    .center{
	width:70%;
	margin-left:40%;	
	align: left;	
	}

	
    #popup-1 {
	display: none;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	height: 100vh;
	width: 100%;
	}
	.popup-content {
	position: relative;
	padding: 20px;
	margin: 0 auto;
	background-color: white;
	width: 400px;
	top: 5vh;
	}
{% endblock %}

{% block body_block %}
<div class="center">
{% if registered %}
<strong>Register has successfully done.<br /></strong>
<a href="{% url 'concert:index' %}">Return to home</a><br />
{% else %}
<strong>Fill the form to register</strong><br />
<body>
<div id="popup-1">
	<div class="popup-content">
		<h1>Terms & Conditions</h1>
		<p>In General <br/>
			Ticket Finder (“http//ticketfinder.com”) owns and operate this Website. This document 
			governs your relationship with http//ticketfinder.com (“Website”). Access to and use 
			of this Website and the products and services available through this Website (collectively
			, the "Services") are subject to the following terms, conditions and notices (the "Terms of
			Service"). By using the Services, you are agreeing to all of the Terms of Service, as may be 
			updated by us from time to time. You should check this page regularly to take notice of any 
			changes we may have made to the Terms of Service.</p>
		<button id="close-popup-1">Close</button>
	</div>
</div>
<form id="user_form" method="post" action="{% url 'concert:register' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <p>First name:{{ user_form.first_name }}</p>
    <p>Last name:{{ user_form.last_name }}</p>
    <p>Email:{{ user_form.username }}</p>
    <p>Password:{{ user_form.password }}</p>
    <p>Password confirm:{{ profile_form.pw_confirm }}</p>
    <p>{{ profile_form.weAreBand }} Check, if you are in a band, then you can register concerts</p>
    <p>Band Name : {{band_form.bandName}}<br/>Note: Once we authenticate your band we will contact you for more information.</p>        
    <p>{{ profile_form.termsOfService }} Terms of service :	<button type="button" onclick= conditionPopUp() id="open-popup-1">Terms&Conditions</button></p>
	
    {% for error in custom_error_msg %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    <strong>{{ user_form.errors }}</strong>    
    <input type="submit" name="submit" value="Register" />
</form>
{% endif %}
</div>
{% endblock %}
</body>
</html>