{% extends 'concert/base.html' %}

{% block title_block %}
Welcome to the concert project
{% endblock %}

{% block body_block %}
    {% for error in error_msg %}
        <strong>{{error}}</strong>
    {%endfor%}  
    <form id="signin_form" method="post" action="{% url 'concert:signin' %}" %}>
        {% csrf_token %}
        Email : <input type="text" name="username" value="" size="50">
        <br />
        Password : <input type="password" name="password" value="" size="50" />
        <br />
        <input type="submit" value="submit" />
    </form>

{% endblock %}